@import "animations";

body {
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
  background: var(--light-100);
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  font-weight: 800;
}

h2 {
  color: var(--dark);
  font-size: 32px;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

ul,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--dark);
}

.table__responsive {
  margin-top: var(--size-2);
  width: 100%;
  overflow-x: auto;
  border: 1px solid #F1F3F5;
  border-radius: var(--rounded-md);

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      width: 20%;
      padding: 16px 0px;
      text-align: left;
    }

    th {
      color: var(--dark);
      font-weight: 600;
    }

    td {
      font-weight: 400;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #F1F3F5;
    }

    thead {
      background: var(--light-100);
    }

    tbody>tr>th:first-child {
      padding-left: var(--size-3);
      font-weight: 600;
    }

    tbody>tr>td:last-child {
      padding-right: var(--size-3);
    }

    thead>tr>th:first-child {
      padding-left: var(--size-3);
    }

    thead>tr>th:last-child {
      padding-right: var(--size-3);
    }
  }
}

.row {
  margin-top: 1.875rem;
  display: flex;
}

.core_content {
  h3 {
    margin-top: 36px;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
  }
}

.specific {
  h3 {
    margin-top: 0;
  }
}

.specific_row {
  column-gap: 1.875rem;
}

.desc_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;

  p {
    font-size: 13px;
    font-style: italic;
    line-height: normal;

    a {
      color: var(--danger);
      text-decoration: underline;
      transition: .3s;

      &:hover {
        color: var(--danger-h);
      }
    }
  }

  .desc_nav__wrap {
    display: flex;
    align-items: center;
    column-gap: var(--size-2);
  }

  .btn {
    width: 230px;
  }
}

.list {
  margin-top: var(--size-2);

  li:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  li {
    display: flex;
    align-items: center;
  }

  li::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: var(--dark);
    border-radius: 100%;
    transform: translateY(-30%);
    margin-right: 10px;
  }
}

button {
  background: none;
  border: none;

  path {
    transition: .3s;
  }
}

a {
  text-decoration: none;
}

.zoom_img {
  cursor: zoom-in;
}

.screenbox {
  margin-top: var(--size-3);
  text-align: center;
  width: 100%;

  picture {
    cursor: zoom-in;
    width: 100%;
  }

  figcaption {
    font-style: 14px;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
  }

  img {
    max-width: 60%;
  }
}

.full_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full_modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 80%;
  overflow: hidden;

  img {
    transition: .3s;
    cursor: zoom-in;
  }
}

.full_modal__content.zoom {
  max-width: 60vw;
  max-height: 80vh;
  height: 100%;
  width: 100%;
  background: rgb(53, 53, 53);
  border-radius: var(--rounded-md);

  img {
    width: 100%;
  }
}

.full_modal__box {
  transition: .3s;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--rounded-md);
}

.full_modal.active {
  .full_modal__content {
    animation: fadeFromTop .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
}

.txt {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  b {
    font-weight: 700;
  }
}

header {
  background: var(--light);
  animation: header .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  border-bottom: 1px solid #F1F3F5;
  position: sticky;
  left: 0;
  top: 0;
  height: var(--header-h);
  display: flex;
  align-items: center;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    max-width: var(--container-header-w);
    margin: 0 auto;
  }
}

section:not(:last-child) {
  margin-bottom: var(--size-3);
}

ol:not(.section_nav__list) {
  counter-reset: step-counter;

  li::before {
    content: "1." counter(step-counter) ".";
    counter-increment: step-counter;
    margin-right: 3px;
    min-width: 25px;
    display: inline-block;
  }
}

.content_wrap p {
  margin-top: var(--size-2);
}

.title_section {
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
  opacity: 0;
  transform: translateY(-100%);
  transition: .6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.title_section.visible {
  opacity: 1;
  transform: translateY(0%);
}

.core_content .title_section {
  margin-top: var(--size-2);
}

.core_content {
  p {
    font-weight: 400;
    line-height: 24px;
  }
}

.quotes_block {
  display: flex;
  column-gap: var(--size-2);
  margin-top: var(--size-3);

  p {
    margin-top: 0;
    background: var(--light-100);
    padding: var(--size-2) var(--size-3);
    border-radius: var(--rounded-md);
    line-height: 26px;
    letter-spacing: -0.16px;
  }

  &::before,
  &::after {
    align-self: flex-start;
    min-width: 33px;
    min-height: 33px;
    content: "";
    background: url("../img/icons/quotes.svg") center center / 100% no-repeat;
  }

  &::after {
    align-self: flex-end;
    transform: scaleX(-1);
  }
}

.section_nav__list {

  li,
  a {
    color: var(--danger);
    transition: .3s;
  }

  a {
    cursor: pointer;
  }

  li:hover>a {
    text-decoration: underline;
  }

  ol>li:first-child {
    margin-top: var(--size-2);
  }

  li:not(:last-child) {
    margin-bottom: var(--size-2);
  }

  ol {
    list-style: none;
  }
}

.gallery {
  margin-top: var(--size-2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  gap: 1rem;
}

.gallery__item {
  overflow: hidden;

  img {
    border-radius: var(--rounded-md);
  }
}

.section_nav__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-400);
  padding: 12px 20px;
  border-radius: var(--rounded-md);
  cursor: pointer;
  transition: .4s;

  &:hover {
    background: var(--light-400-h);
  }
}

.section_nav__header_wrap {
  display: flex;
  align-items: center;
  column-gap: var(--size-1);
}

.section_nav__handler {
  transform: rotate(-90deg);
  transition: .3s;
}

.section_nav {
  position: relative;
  max-height: 50px;
  height: 100%;
  overflow-y: hidden;
  transition: .3s;
}

.section_nav__list {
  max-height: 0;
  overflow: hidden;
  overflow: hidden;
  pointer-events: none;
  animation: maxHeightInverse .3s ease-in-out forwards;
}

.section_nav.active {
  max-height: 2000px;
  overflow-y: visible;

  .section_nav__list {
    animation: maxHeight .5s ease-in-out forwards;
    pointer-events: auto;
  }

  .section_nav__handler {
    transform: rotate(0deg);
  }
}

.container {
  max-width: var(--container-w);
  width: 100%;
  margin: 0 auto;
}

.content_wrap {
  padding: var(--size-3);
}

.block {
  .container {
    box-sizing: border-box;
    border-radius: var(--rounded-lg);
    box-shadow: 0px 5px 0px 0px #DADADD;
    overflow: hidden;
    background: var(--light);
  }
}

.rating_stars {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.rating_star {
  width: 20px;
  height: 20px;
  background: url("../img/icons/star_full.svg") center center / 100% no-repeat;
  transform: translateY(-2px);
}

.rating_star.half {
  background: url("../img/icons/star_half.svg") center center / 100% no-repeat;
}

.rating_star.empty {
  background: url("../img/icons/star_empty.svg") center center / 100% no-repeat;
}

// Buttons ==================

.btn {
  border-radius: var(--rounded-xxl);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  cursor: pointer;
  transition: .3s;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 13px 25px;
  border: none;

  span {
    transition: .3s;
  }

  &:hover span {
    transform: scale(0.95);
  }
}

.btn_1 {
  background: var(--color-ui-1);
  color: var(--light);
  box-shadow: var(--shadow-1);

  &:hover {
    box-shadow: var(--shadow-active-1);
  }
}

.btn_2 {
  background: var(--color-ui-2);
  color: var(--dark-200);
  box-shadow: var(--shadow-2);

  &:hover {
    box-shadow: var(--shadow-active-2);
  }
}

// Cookies ==================

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--dark-100);
  color: #fff;
  transform: translateY(100%);
  pointer-events: none;
  transition: .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    max-width: 860px;
    color: var(--light);
    margin-top: var(--size-1);

    a {
      color: var(--light);
      text-decoration: underline;
    }
  }

  .cookies__title {
    font-size: 14px;
    font-weight: 700;
  }
}

.cookies.active {
  transform: translateY(-30%);
  pointer-events: auto;
}

.cookies__close_btn span {
  font-size: 14px;
}

.cookies__row {
  display: flex;
  align-items: center;
}

.cookies__wrap {
  margin-left: 2.8125rem;
}

// Langs ==================

.langs__modal.active {
  pointer-events: auto;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .langs__content {
    animation: langs .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}

.langs__modal.close {
  transition: opacity .4s .4s;
  opacity: 0;

  .langs__content {
    animation: langsClose .6s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}

.langs__close_btn {
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;

  svg {
    width: 14px;
    height: 14px;
  }

  path {
    stroke: #A1A6B7;
    transition: .3s;
  }

  &:hover {
    path {
      stroke: var(--danger);
    }
  }
}

.langs__content {
  position: relative;
  background: var(--light);
  display: flex;
  flex-direction: column;
  border-radius: var(--rounded-md);
  padding: 20px 32px 23px;
  max-width: 375px;
  width: 100%;
  box-sizing: border-box;

  h3 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: var(--size-3);
  }

  li {
    width: 100%;
    background: var(--light-100);
    border-radius: var(--rounded-sm);
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    position: relative;
    transition: .3s;

    &:hover {
      background: #EDEDED;
    }
  }

  li.selected {
    pointer-events: none;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 50%;
      width: 20px;
      height: 20px;
      background: url("../img/icons/ui/check_fill.svg") center center / 100% no-repeat;
      transform: translateY(-50%);
    }
  }

  li:not(:last-child) {
    margin-bottom: 4px;
  }

  a {
    text-decoration: none;
    color: var(--dark-300);
    display: flex;
    align-items: center;
    column-gap: var(--size-1);
    font-weight: 500;

    img {
      box-shadow: 0 0 3px rgba($color: #878C9A, $alpha: 0.5);
    }
  }
}

.langs__trigger_flag {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px rgba($color: #878C9A, $alpha: .8);

  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.langs__trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 6px;

  .langs__trigger_fullname {
    display: none;
  }

  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: .3s;
  }

  &:hover {
    span {
      color: var(--active-el);
    }
  }
}

.langs__trigger_handler {
  transition: .3s;
}

.langs__trigger.active {
  .langs__trigger_handler {
    transform: rotate(180deg);
  }
}

.navigation__controls {
  display: flex;
  column-gap: var(--size-3);
}

// Search ==================

.full_modal,
.search__modal,
.langs__modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  transition: .2s ease-out;
  opacity: 0;
  pointer-events: none;
}

.langs__modal {
  background: rgba(0, 0, 0, 0.2);
}

.full_modal.active,
.search__modal.active {
  opacity: 1;
  pointer-events: auto;

  .search {
    animation: search .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
  }
}

.search__content {
  margin-top: 7.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.full__close_btn,
.search__close_btn {
  position: absolute;
  right: 5rem;
  top: 50px;
  cursor: pointer;

  &:hover {
    path {
      stroke: var(--danger);
    }
  }
}

.search {
  height: 50px;
  padding-right: 16px;
  background: var(--light);
  border-radius: var(--rounded-sm);
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 540px;
  width: 100%;
  opacity: 0;

  input {
    height: 100%;
    display: inline-block;
    border: none;
    padding-left: 16px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      animation: buble .6s forwards;
    }
  }
}

.search__trigger {
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover img {
    animation: buble .8s forwards;
  }
}

// Navigation ==================

.navigation__menu {
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
  width: 100%;
  justify-content: space-between;
}

.navigation {
  .navigation__wrap {
    list-style: none;
    display: flex;
    column-gap: 32px;
  }

  a {
    color: var(--light-300);
    transition: .3s;
    text-decoration: none;
  }

  .navigation__wrap>li:hover a {
    color: var(--dark);
  }
}

// Burger ==================

.header__burger {
  position: relative;
  width: 36px;
  height: 24px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  display: none;
}

.header__burger span {
  position: absolute;
  background-color: var(--dark);
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 11px;
  transition: all 0.3s ease 0s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: var(--dark);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 11px;
}

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 11px;
}

// Logotype ==================

.logo {
  &:focus {
    outline: none;
    border: none;

    img {
      filter: drop-shadow(0 0 2px rgb(0, 202, 0));
    }
  }

  img {
    min-width: 132px;
    width: 100%;
  }
}

// Dropdowns ==================

.dropdown {
  position: relative;
}

.dropdown__header {
  display: flex;
  align-items: center;
  column-gap: 6px;
  cursor: pointer;

  &:hover {
    .dropdown__title {
      color: var(--dark);
    }

    .dropdown__handler {
      opacity: 1;
    }
  }
}

.dropdown__title {
  color: var(--light-300);
  transition: .3s;
}

.dropdown__handler {
  opacity: .6;
  transition: .3s;
}

.dropdown__content {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transform: scaleY(0) translateY(100%);
  pointer-events: none;
  background: var(--light);
  padding: 20px;
  border-radius: var(--rounded-md);
  list-style: none;
  width: 200px;
  box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.07);

  li a {
    color: var(--datk);
    text-decoration: none;
  }

  li {
    transition: .3s;
    padding: 10px 16px;
    border-radius: var(--rounded-sm);
    display: flex;
    align-items: center;

    &:hover {
      background: var(--light-100);
    }
  }
}

.dropdown.active {
  .dropdown__content {
    opacity: 1;
    pointer-events: auto;
    transform: scaleY(1) translateY(110%);
  }

  .dropdown__header {
    .dropdown__title {
      color: var(--dark);
    }

    .dropdown__handler {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}

/* Video ===============*/

.video__poster {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;

  img {
    border-radius: var(--rounded-md);
  }

  .video__poster_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    background: none;
    border: none;

    &:focus,
    &:active {
      border: none;
      outline: none;

      path {
        stroke-width: 3px;
        stroke: rgb(133, 219, 3);
      }
    }

    path {
      transition: .3s;
    }

    @media (hover) {
      &:hover path {
        fill: rgb(139, 241, 139);
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
  }
}

.video__poster[data-size="sm"] {
  img {
    max-width: 320px;
    width: 100%;
  }
}

.video__poster[data-size="md"] {
  img {
    max-width: 520px;
    width: 100%;
  }
}

.video__poster[data-size="lg"] {
  img {
    max-width: 720px;
    width: 100%;
  }
}

#video_player {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: .4s;
  z-index: 100;

  iframe {
    max-width: 60%;
    max-height: 70%;
    aspect-ratio: 16/9;
  }

  &::after {
    content: "╳";
    font-size: 24px;
    position: absolute;
    right: 5%;
    top: 8%;
    color: rgb(255, 36, 36);
    cursor: pointer;
  }
}

#video_player.active {
  opacity: 1;
  pointer-events: auto;

  &:first-child {
    animation: fadeFromTop .4s forwards;
  }
}

/* Lightbox ===============*/

.lightbox {
  max-width: 590px;

  .lightbox__full {
    object-fit: contain;
    cursor: pointer;
    max-height: 350px;
    overflow: hidden;
    border-radius: 14px;

    img {
      width: 100%;
      border-radius: 14px;
    }
  }

  .lightbox__thumbnails {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    column-gap: 10px;
  }

  .lightbox__thumb {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    position: relative;
    cursor: pointer;
    max-height: 120px;
    min-height: 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transition: .3s;
    }

    @media (hover) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 34px;
        height: 34px;
        display: inline-block;
        background: url("../img/icons/ui/search.svg") 0 0 / 100% no-repeat;
        filter: invert(100%);
        display: none;
      }
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover::after {
      display: inline-block;
    }
  }

  .lightbox__zoom {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
  }

  .lightbox__zoom[active] {
    opacity: 1;
    pointer-events: auto;

    .lightbox__zoom_content {
      animation: fadeFromTop .4s forwards;
    }
  }

  .lightbox__zoom_content {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;

    .lightbox__zoom_img {
      img {
        width: 100%;
        border-radius: 14px;
        max-width: 80vw;
        max-height: 80vh;
        height: 100%;
        width: 100%;
      }
    }
  }

  .lightbox__zoom_close {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 50px;
    cursor: pointer;

    &:hover {

      &::after,
      &::before {
        background: rgb(255, 32, 32);
      }
    }

    &::after,
    &::before {
      content: "";
      background: #ff6767;
      display: inline-block;
      position: absolute;
      transition: .3s;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.faq__item {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 3px 0px 0px var(--light-200);
  overflow: hidden;
  border-radius: var(--rounded-md);
}

.faq__item:not(:last-child) {
  margin-bottom: .75rem;
}

.faq__item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-100);
  padding: 15px 25px;
  cursor: pointer;
  position: relative;
  color: #fff;
  transition: .3s;
  width: 100%;
}

.faq__item_title {
  color: var(--dark-100);
  font-weight: 600;
  letter-spacing: -0.08px;
}

.faq__item_handler {
  width: 32px;
  height: 32px;
  background: var(--light-200);
  border-radius: 100%;
  position: relative;
  transition: .3s;

  &:hover {
    background: var(--light-200-h);
  }

  &::after,
  &::before {
    content: "";
    display: inline-block;
    background: var(--dark);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 40%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }

  &::before {
    margin-left: 0%;
    transform: translate(-53%, -50%) rotate(90deg);
  }
}

.faq__item_content {
  display: none;
  overflow: hidden;
  padding: 0 20px 20px;
  background: var(--light-100);
  border-bottom-right-radius: var(--rounded-md);
  border-bottom-left-radius: var(--rounded-md);
  font-weight: 400;
  line-height: 24px;
}

.faq__item[active] {
  .faq__item_content {
    display: block;
  }

  .faq__item_handler::before {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.plus_minus {
  margin-top: var(--size-2);
  display: flex;
  column-gap: var(--size-2);
}

.plus_minus__block {
  background: var(--light-100);
  border-radius: 16px;
  padding: var(--size-2);
}

.plus_minus__title {
  display: flex;
  align-items: center;
  column-gap: var(--size-1);

  span {
    font-size: 18px;
    font-weight: 600;
  }
}

.plus_minus__list {
  list-style: none;
  margin-top: var(--size-2);
}

.plus_minus__item {
  line-height: 150%;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.plus_minus__item:not(:first-child) {
  margin-top: 0.75rem;
}

.plus_minus__item {
  &::before {
    content: "";
    display: inline-block;
    background: url("../img/icons/plus_stroke.svg") center center / 100% no-repeat;
    min-width: 16px;
    min-height: 16px;
    transform: translateY(20%);
    margin-right: 14px;
    margin-left: 6px;
  }
}

.minus .plus_minus__item::before {
  background: url("../img/icons/minus_stroke.svg") center center / 100% no-repeat;
}

#footer {
  margin-top: 70px;
  background: var(--dark-100);
  padding: 2.5rem 0;
  color: var(--light);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: var(--size-3);
    column-gap: 5.625rem;
  }

  li:not(:last-child) {
    margin-bottom: var(--size-2);
  }

  li a:hover {
    text-decoration: underline;
  }

  a {
    color: var(--light);
  }
}

.footer__col_title {
  font-size: 18px;
  font-weight: 700;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__desc {
  text-align: center;
  margin-top: 3.125rem;

  a {
    text-decoration: underline;
    color: #C0C0C2;
  }
}

.footer__partners {
  display: flex;
  justify-content: center;
  column-gap: 4.375rem;
  margin-top: var(--size-4);
}

.footer__txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #C0C0C2;
}

.footer__controls_col {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.875rem;
}

.langs__trigger_full {
  display: inline-flex;
  background: #3D3F43;
  color: #fff;
  padding: var(--size-2);
  border-radius: 6px;

  .langs__trigger_flag {
    border-radius: 0px;
    width: 24px;
    height: 18px;
  }

  span {
    text-transform: capitalize;
    margin-left: 5px;
    margin-right: 3px;
  }

  .langs__trigger_handler {
    filter: invert(100%);
  }
}

.footer__email {
  margin-top: var(--size-3);
  display: flex;
  flex-direction: column;

  a {
    margin-top: var(--size-1);
    color: var(--light);

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__socials {
  margin-top: var(--size-3);
  display: flex;
  column-gap: 10px;


  svg {
    path {
      transition: .3s;
    }

    &:hover path {
      fill: var(--active-el);
      fill-opacity: 1;
    }
  }
}

.to_top_btn {
  position: fixed;
  z-index: 5;
  right: 60px;
  bottom: 50px;
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  cursor: pointer;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);

  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  img {
    filter: invert(100%);
    transform: rotate(180deg);
    width: 50%;
  }
}

.to_top_btn.active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0%);
}

.breadcrumbs {
  margin-top: 2rem;
  margin-bottom: 2rem;

  a {
    color: var(--dark);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      content: "/";
      display: inline-block;
      margin-right: 5px;
      margin-left: 8px;
      font-weight: 500;
      color: #878C9A;
      pointer-events: none;
    }
  }

  span {
    pointer-events: none;
    font-weight: 500;
    color: #878C9A;
  }
}

a.btn {
  box-sizing: border-box;
  text-align: center;
}

.info_wrap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--size-3);

  .btn {
    width: 100%;
    box-sizing: border-box;
    min-width: 185px;
  }
}

.info_platforms {
  display: flex;
  align-items: center;
  column-gap: var(--size-2);
}

.rating_full {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: var(--size-2);
}

.brand_preview {
  position: relative;
  background: var(--dark-100);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.brand_license {
  position: absolute;
  bottom: var(--size-1);
  display: flex;
  align-items: center;

  column-gap: img {
    max-width: 24px;
    width: 100%;
  }

  span {
    color: var(--light);
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.payments_col__icons_item {
  span {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.rating_area {
  overflow: hidden;
  display: inline-flex;
  flex-direction: row-reverse;
  column-gap: 3px;
}

.rating_area:not(:checked)>input {
  display: none;
}

.rating_area:not(:checked)>label {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url("../img/icons/star_empty.svg") center center / 100% no-repeat;
}

.rating_area>input:checked~label {
  background: url("../img/icons/star_full.svg") center center / 100% no-repeat;
}

.rating_area:not(:checked)>label:hover,
.rating_area:not(:checked)>label:hover~label {
  background: url("../img/icons/star_full.svg") center center / 100% no-repeat;
}

.rating_area>input:checked+label:hover,
.rating_area>input:checked+label:hover~label,
.rating_area>input:checked~label:hover,
.rating_area>input:checked~label:hover~label,
.rating_area>label:hover~input:checked~label {
  background: url("../img/icons/star_full.svg") center center / 100% no-repeat;
}

.rate-area>label:active {
  position: relative;
}

.user_avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form__mark {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

.form__header {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

.form {
  max-width: 680px;
  width: 100%;
}

.form__row {
  display: flex;
  column-gap: 1.25rem;
}

.form__field {
  background: var(--light-100);
  border: none;
  border-radius: var(--rounded-sm);
  padding: 12px 16px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: 1px solid var(--active-el);
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-2);
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-2);
  row-gap: var(--size-2);
}

.form__controls {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-top: var(--size-3);
}

.form__textarea {
  resize: vertical;
  max-height: 220px;
  min-height: 60px;
}

.form {

  input[type="checkbox"],
  label {
    cursor: pointer;
  }

  .form__policy_label {
    padding-left: 6px;
    color: #9EA6B7;
    font-size: 14px;

    a {
      color: var(--danger);
      text-decoration: underline;
    }
  }
}

.form.disabled {
  button[type="submit"] {
    pointer-events: none;
    background: var(--color-ui-1-d);
  }
}

.form__error {
  font-size: 14px;
  color: var(--danger);
  margin-top: var(--size-2);
  display: none;
}

.form__error.active {
  display: block;
}

.checkbox {
  input {
    display: none;
  }
}

.checkbox input+label {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icons/ui/checkbox_false.svg") center center / 100% no-repeat;
  }
}

.checkbox input:checked+label {
  &::before {
    background: url("../img/icons/ui/checkbox_true.svg") center center / 100% no-repeat;
  }
}

.header__play_btn {
  box-sizing: border-box;
  display: inline-flex;
  white-space: nowrap;
  max-width: 220px;
  width: 100%;
  margin-left: var(--size-3);
}

.header__wrap {
  display: flex;
  align-items: center;
}

.search__trigger_mob {
  display: none;
}