#not_found {
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 7rem;
    font-weight: 600;
    animation: rubberBand 1.2s forwards;
  }
}

.not_found__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--size-3);
  opacity: 0;
  animation: fadeFromTop .4s forwards;
}

.not_found__subtitle {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: .0197rem;
}

.not_found__desc {
  font-weight: 500;
  letter-spacing: .015rem;
}